.background {
  width: 100%;
  background-color: rgb(77, 18, 63);
  height: 94vh;
  overflow-y: auto;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
