<div class="background">
  <div class="task-menu" *ngIf="showMenu">
    <mat-card class="task-menu-buttons">
      <mat-icon (click)="showMenu = false">close</mat-icon>
      <mat-icon *ngIf="taskType === 'private'" (click)="newTask()"
        >add</mat-icon
      >
      <mat-icon (click)="teamTasks()">people</mat-icon>
      <mat-icon (click)="privateTasks()">person</mat-icon>
    </mat-card>
    <mat-card class="task-menu-info">
      {{ taskType | uppercase }}
    </mat-card>
  </div>

  <div class="container">
    <div fxLayout="row wrap" fxLayoutGap="25px grid" fxLayoutAlign="center">
      <div *ngFor="let task of tasks">
        <app-taskitem
          [task]="task"
          (onDeleteTask)="deleteTaskFunc(task)"
        ></app-taskitem>
      </div>
    </div>
    <div class="addtask-btn">
      <div class="bottom-menu">
        <button
          (click)="showMenu = true"
          mat-fab
          color="primary"
          aria-label="Activate menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
