<div class="toolbar">
  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle(); eventNext()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>

    <mat-icon [routerLink]="['../mainpage']">home</mat-icon>

    <!---------------------------------------------------------------------------------------------------->

    <mat-icon
      [matMenuTriggerFor]="notifications"
      *ngIf="notificationSocketService.notifications.length === 0"
      >notifications</mat-icon
    >
    <mat-icon [matMenuTriggerFor]="notifications"
      *ngIf="notificationSocketService.notifications.length !== 0"
      [ngClass]="
        notificationSocketService.activeBell ? 'notif-active' : 'notif'
      "
      (click)="notificationSocketService.activeBell = false"
      >notifications_active</mat-icon
    >

    <mat-menu #notifications class="purple notifications-dropdown">
      <app-notificationitem
        (dismissedEvent)="notificationSocketService.activeBell = true"
        [notifications]="notificationSocketService.notifications"
      ></app-notificationitem>
    </mat-menu>
    <!---------------------------------------------------------------------------------------------------->

    <mat-icon [matMenuTriggerFor]="profileMenu">person</mat-icon>

    <mat-menu #profileMenu class="purple">
      <button mat-menu-item (click)="accsettings()">Setari</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
</div>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav
    #drawer
    fixedInViewport
    autoFocus="false"
    [mode]="mobile ? 'over' : 'side'"
  >
    <app-profile [events]="eventsSubject.asObservable()"></app-profile>
  </mat-sidenav>
  <mat-sidenav-content> </mat-sidenav-content>
</mat-sidenav-container>
