<div class="background">
  <div class="form-wrapper">
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Nume de utilizator</mat-label>
        <input
          #username
          matInput
          placeholder="Ex. Ion"
          [formControl]="usernameControl"
          [value]="user.username"
        />
        <mat-error *ngIf="usernameControl.invalid">
          {{ getErrorMessage("username") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Parola</mat-label>
        <input
          #password
          matInput
          placeholder="Alege o parola puternica"
          [type]="hide ? 'password' : 'text'"
          [formControl]="passwordControl"
        />
        <mat-error *ngIf="passwordControl.invalid">
          {{ getErrorMessage("password") }}
        </mat-error>
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Adresa de Email</mat-label>
        <input
          #email
          matInput
          placeholder="ion.doe@gmail.com"
          [formControl]="emailControl"
          [value]="user.email"
        />
        <mat-error *ngIf="emailControl.invalid">
          {{ getErrorMessage("email") }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>About me</mat-label>
        <textarea
          #aboutMe
          matInput
          placeholder="Ex. It makes me feel..."
          [value]="user.aboutMe"
        ></textarea>
      </mat-form-field>
    </div>
    <mat-card class="buttons">
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Incarca avatar
      </button>
      <input
        #fileInput
        type="file"
        (change)="uploadAvatar($event)"
        style="display: none"
      />
      <button
        mat-raised-button
        color="primary"
        (click)="
          updateUser(
            username.value,
            password.value,
            email.value,
            aboutMe.value
          )
        "
      >
        Submit
      </button>
    </mat-card>
  </div>
</div>
