<div class="background">
  <div class="form-wrapper">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex. numeprenume" value="numeprenume" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. A very strong password" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Ex. A very strong password" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Ex. numeprenume@gmail.com"
          value="numeprenume@gmail.com"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>About me</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>
    <mat-card class="buttons">
      <input type="file" (change)="uploadAvatar($event)">
      <button mat-raised-button color="primary">Submit</button>
    </mat-card>
  </div>
</div>
