.mat-progress-bar {
  max-width: 350px !important;
  height: 15px;
  margin: 0 auto;
  border-radius: 10px;
}

.task-container {
  max-width: 350px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.task {
  max-width: 200px;
  font-weight: bolder !important;
}
