.background {
  width: 100%;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.addtask-btn {
  display: flex;
  justify-content: center;
  width: 120px;
}
.bottom-menu {
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
}
.mat-fab {
  margin: 5px;
}
.mat-fab:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.container {
  margin-top: 25px;
}

.task-menu {
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  max-width: 280px;
  margin: 0 auto;
}

.task-menu-buttons {
  display: flex;
  justify-content: space-around;
}
.task-menu-info {
  display: flex;
  justify-content: space-around;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
}

.mat-icon {
  cursor: pointer;
  transition: transform 0.1s ease;
}
.mat-icon:hover {
  transform: scale(1.5);
  transition: transform 0.1s ease;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight{
  color:red;
}