<h1 mat-dialog-title>Creaza un nou task</h1>
<div mat-dialog-content class="create-task-dialog">
  <p>Pentru {{ data.username }}</p>
  <div class="task">
    <mat-form-field appearance="fill">
      <mat-label>Numele sarcinii</mat-label>
      <input #name matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prioritate</mat-label>
      <mat-select #priority>
        <mat-option *ngFor="let priority of priorities" [value]="priority.value">
          {{priority.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Detalii despre sarcina</mat-label>
      <textarea #details matInput placeholder="Trebuie sa..."></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    (click)="createTask(name.value, details.value, priority.value)"
  >
    Ok
  </button>
  <button mat-button mat-dialog-close="false">Cancel</button>
</div>
