<div class="background">
  <div class="container">
    <div class="avatar-container">
      <img
        class="avatar"
        src="https://pbs.twimg.com/profile_images/1218242897650372608/26S52EZo_400x400.jpg"
      />
    </div>

    <div class="profile-info">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <h3>{{ user.email }}</h3>
    </div>

    <mat-divider></mat-divider>
    <div class="profile-info">
      <h4>My public tasks</h4>
    </div>

    <app-taskprogressbar></app-taskprogressbar>

    <mat-divider></mat-divider>
    <mat-card class="profile-buttons">
      <button *ngIf="hasTeam" mat-raised-button color="primary" (click)="teamManagement()">
        Echipa mea
      </button>
      <button *ngIf="!hasTeam" mat-raised-button color="primary" (click)="createTeam()">
        Creaza o echipa
      </button>
      <div class="profile-info">
        <p>{{ user.teamId }}</p>
      </div>
    </mat-card>
  </div>
</div>
