.background {
  width: 100%;
  background-color: rgb(77, 18, 63);
  height: 94vh;
  overflow-y: auto;
  margin: 0 auto;
  overflow-x: hidden;
}
.mat-expansion-panel {
  background-color: rgb(170, 66, 130);
  width: 100%;
}
.container {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.task {
  width: 300px;
}

.mat-icon {
  cursor: pointer;
}

.task-menu {
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  max-width: 280px;
  margin: 0 auto;
}

.mat-card {
  background-color: blueviolet;
  max-height: 25px;
}

.task-menu-buttons {
  display: flex;
  justify-content: space-around;
}
.tasks-title {
  display: flex;
  justify-content: space-around;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
}

.avatar {
  width: 40px;
  height: auto;
  border-radius: 50%;
}
.mat-expansion-panel-header {
  min-height: 70px !important;
}
.mat-expansion-panel-header-title {
  margin: auto;
}
.task-controls {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
}

.mat-icon:hover {
  transform: scale(1.5);
  transition: transform .1s ease;
}
.mat-divider{
  color:white;
  margin:5px;
 
}

.task-details{
  margin: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}