<div class="background">
  <div class="no-notif" *ngIf="notifications.length === 0 || noNotif">
    <div class="content">No notifications</div>
  </div>
  <div *ngFor="let notification of notifications">
    <div class="notif">
      <img
        class="avatar"
        src="https://www.shareicon.net/data/2016/07/05/791214_man_512x512.png"
      />
      <div class="notif-text">
        <div class="content">{{ notification.content }}</div>
        <div class="content">De catre {{ notification.sender }}</div>
        <div class="content">{{ notification.timestamp | date: "short" }}</div>
      </div>
      <div class="notif-control">
        <mat-icon (click)="dismissNotif(notification)">check</mat-icon>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="notifications.length !== 0 && !noNotif">
    <div class="button" (click)="dismissAllNotif()">Dismiss all</div>
  </div>
</div>
