<mat-accordion>
  <mat-expansion-panel
    hideToggle
    [ngClass]="{ disabled: !task.open }"
    *ngIf="task.authorId && task.lastUserId"
    (click)="!task.private ? taskInfo(task.authorId, task.responsibleId!, task.lastUserId) : ''"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ task.name }} </mat-panel-title>
      <mat-panel-description>
        {{ task.name }}
        <img *ngIf="!task.private"
          class="avatar"
          [src]="avatar"
        />
        <img *ngIf="task.private"
        class="avatar"
        [src]="user.avatar"
        />
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <p [hidden]="toggleInput" class="task-details">
      {{ task.details }}
    </p>
    <textarea
      class="task-textarea"
      #newDetails
      (blur)="
        editTaskDetails(task, newDetails.value); toggleInput = !toggleInput
      "
      [hidden]="!toggleInput"
      type="text"
      >{{ task.details }}</textarea
    >
    <div *ngIf="!task.private">
      <mat-divider></mat-divider>
      <p class="task-details">Autor: {{ author.username }}</p>
    </div>
    <div *ngIf="!task.private">
      <p class="task-details">Ultima accesare: {{ lastUser.username }}</p>
    </div>
    <div *ngIf="!task.private">
      <p class="task-details">Responsabil: {{ responsible.username }}</p>
    </div>
    <mat-divider></mat-divider>
    <p class="task-controls">
      <mat-icon *ngIf="checkAuthor(task.authorId)" (click)="onDelete(task)"
        >delete</mat-icon
      >
      <mat-icon (click)="onChangeStatus(task)">check_circle</mat-icon>
      <mat-icon
        *ngIf="checkAuthor(task.authorId)"
        (click)="toggleInput = !toggleInput"
        >edit</mat-icon
      >
    </p>
  </mat-expansion-panel>
</mat-accordion>
