.mat-expansion-panel {
  width: 100%;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.mat-expansion-panel-header {
  min-height: 70px !important;
}

.mat-expansion-panel-header-title {
  margin: auto;
}

.task-controls {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
}

.mat-divider {
  color: white;
  margin: 5px;
}
.task {
  width: 350px;
}
.task-details {
  margin: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 230px;
  overflow-wrap: break-word;
}

.task-textarea {
  margin: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 230px;
  min-height: 20px;
  resize: vertical;
  background-color: var(--blue3);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
}

.mat-icon {
  cursor: pointer;
  transition: transform 0.1s ease;
}

.mat-icon:hover {
  transform: scale(1.5);
  transition: transform 0.1s ease;
}

.disabled {
  opacity: 0.3;
}
