<div class="background">
  <div class="container">
    <div class="avatar-container">
      <img class="avatar" [src]="user.avatar" />
    </div>

    <div class="profile-info">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <h3>{{ user.email }}</h3>
    </div>

    <div *ngIf="hasTeam">
      <mat-divider></mat-divider>
      <div class="profile-info">
        <h4>My public tasks</h4>
      </div>

      <app-taskprogressbar></app-taskprogressbar>
    </div>
    <mat-divider></mat-divider>
    <div class="profile-buttons">
      <button mat-raised-button *ngIf="hasTeam" color="primary" (click)="teamManagement()">
        Echipa mea
      </button>
      <button
        *ngIf="!hasTeam"
        mat-raised-button
        color="primary"
        (click)="createTeam()"
      >
        Creaza o echipa
      </button>
    </div>
  </div>
</div>
