.container {
  margin: 0 auto;
  max-width: 280px;
 
}
.background{
  width: 100%;
  background-color:rgb(63, 36, 46);
  height: 94vh;
  overflow-y: auto;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.example-card {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(133, 55, 100);
}
