<mat-accordion>
  <mat-expansion-panel hideToggle [ngClass]="{ disabled: !task.open }">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ task.name }} </mat-panel-title>
      <mat-panel-description>
        {{ task.name }}
        <img
          class="avatar"
          src="https://www.kindpng.com/picc/m/22-223941_transparent-avatar-png-male-avatar-icon-transparent-png.png"
        />
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <p [hidden]="toggleInput" class="task-details">
      {{ task.details }}
    </p>
    <textarea
      class="task-textarea"
      #newDetails
      (blur)="
        editTaskDetails(task, newDetails.value); toggleInput = !toggleInput
      "
      [hidden]="!toggleInput"
      type="text"
      >{{ task.details }}</textarea
    >
    <mat-divider></mat-divider>
    <p class="task-details">Responsabil: {{ task.responsibleId }}</p>
    <mat-divider></mat-divider>
    <p class="task-controls">
      <!-- <mat-icon>comment</mat-icon> -->
      <mat-icon (click)="onDelete(task)">delete</mat-icon>
      <mat-icon (click)="onChangeStatus(task)">check_circle</mat-icon>
      <mat-icon (click)="toggleInput = !toggleInput">edit</mat-icon>
    </p>
  </mat-expansion-panel>
</mat-accordion>
