<div class="background">
  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>Nume de utilizator</mat-label>
      <input #username matInput placeholder="Ex. Ion" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Parola</mat-label>
      <input #password matInput placeholder="Alege o parola puternica" />
    </mat-form-field>

    <div class="reg" *ngIf="reg">
      <mat-form-field appearance="fill">
        <mat-label>Adresa de Email</mat-label>
        <input #email matInput placeholder="ion.doe@gmail.com" [formControl]="emailFormControl" />
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Trebuie sa introduci o adresa de Email valida
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Adresa de Email este <strong>necesara</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prenume</mat-label>
        <input #firstname matInput placeholder="Ion" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nume de familie</mat-label>
        <input #lastname matInput placeholder="Doe" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Gen</mat-label>
        <mat-select #gender>
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{ gender.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Data de nastere</mat-label>
        <input #birthDate matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button
        mat-stroked-button
        color="primary"
        (click)="
          register(
            username.value,
            password.value,
            email.value,
            firstname.value,
            lastname.value,
            gender.value,
            birthDate.value
          )
        "
      >
        Creaza cont
      </button>
    </div>

    <button
      mat-stroked-button
      color="primary"
      *ngIf="!reg"
      (click)="login(username.value, password.value)"
    >
      Autentificare
    </button>

    <button
      mat-stroked-button
      color="primary"
      *ngIf="reg"
      (click)="reg = false"
    >
      Am deja cont
    </button>

    <button
      mat-stroked-button
      color="primary"
      *ngIf="!reg"
      (click)="reg = true"
    >
      Nu am cont
    </button>
  </div>
</div>
