<div class="background">
  <div class="chat-box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let chatMessage of chatMemberService.dbChats">
      <div class="message">
        {{ getSender(chatMessage) }}: {{ chatMessage.message }}
      </div>
    </div>
    <div *ngFor="let chatMessage of chatSocketService.chats">
      <div
        class="message"
        *ngIf="
          chatMessage.senderId === this.chatMemberService.partnerId ||
          chatMessage.senderId === this.user.id
        "
      >
        {{ getSender(chatMessage) }}: {{ chatMessage.message }}
      </div>
    </div>
  </div>
  <div class="input">
    <mat-form-field class="field-input" appearance="fill">
      <input
        matInput
        #message
        maxlength="256"
        placeholder="..."
        (keyup.enter)="sendMessage(message.value); message.value = ''"
      />
    </mat-form-field>
    <button
      class="send-button"
      mat-raised-button
      (click)="sendMessage(message.value); message.value = ''"
    >
      Send
    </button>
  </div>
</div>
