<div class="background">
  <div *ngIf="members && members.length === 1" class="container">
    <mat-card class="instructions"
      ><div>Echipa ta nu are nici un membru.</div>
      <div>
        Invita persoane in echipa prin intermediul panoului din partea stanga.
      </div>
      <img class="team-panel-img" [src]="team_panel_img" />
    </mat-card>
  </div>
  <div fxLayout="row wrap" class="container">
    <div *ngFor="let member of members">
      <app-memberitem class="member"
        [member]="member"
        [management]="management"
        (onDeleteMember)="deleteMemberFunc(member)"
        (onSelectMember)="selectMemberFunc(member)"
      ></app-memberitem>
    </div>
  </div>
</div>
