.background {
  width: 100%;
  height: 94vh;
}

.container {
  max-width: fit-content;
}

.instructions {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
