.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .purple {
  background-color: purple;
}

::ng-deep .notifications-dropdown {
  width: 350px !important;
  max-width: 350px !important;
}
.mat-sidenav {
  width: 360px;
  margin-left: 10px;
  border-radius: 5px;
  max-height: 850px;
  margin-top: 90px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.mat-toolbar-single-row {
  min-height: 64px !important;
}
.mat-toolbar .a {
  margin-left: 30px;
}
.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 25%;
  margin-left: 20px;
  cursor: pointer;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel {
  border-radius: 10px;
}
.mat-icon {
  cursor: pointer;
  margin: 0px 10px 0px 10px;
}

.notif-active {
  color: rgb(250, 168, 200);

  animation: Rotate 0.4s ease-in-out infinite;
}

.notif {
  color: rgb(250, 168, 200);
}

@keyframes Rotate {
  0% {
    transform: rotateZ(30deg) scale(1.2);
  }

  50% {
    transform: rotateZ(-30deg) scale(1);
  }

  100% {
    transform: rotateZ(30deg) scale(1.2);
  }
}
