<div class="background">
  <div class="cropper-wrapper">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      (imageCropped)="imageCropped($event)"
      [aspectRatio]="1 / 1"
      [resizeToWidth]="400"
      [onlyScaleDown]="true"
      [cropperMinWidth]="400"
      [maintainAspectRatio]="true"
      [cropperStaticWidth]="400"
      [cropperStaticHeight]="400"
      [roundCropper]="true"
      [hideResizeSquares]="true"
      format="png"
      [transform]="transform"
    ></image-cropper>
  </div>
  <div class="controls">
    <button mat-button (click)="uploadFile()">Upload</button>
    <button mat-button (click)="zoomOut()">Zoom Out</button>
    <button mat-button (click)="zoomIn()">Zoom In</button>
  </div>
</div>
