.controls {
  margin-top: 10px;
}
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

image-cropper {
  max-width: 700px;
  max-height: 700px;
}
::ng-deep .overlay{
  outline: rgb(0 0 0 / 0%) solid 100vw !important;
}
