<mat-card
  *ngIf="member.id != user.id"
  class="container"
  [ngClass]="member.selected ? 'selected' : ''"
>
  <mat-card-header>
    <div mat-card-avatar>
      <img class="avatar" [src]="member.avatar" />
    </div>
    <mat-card-title>{{ member.username }} </mat-card-title>
    <mat-card-subtitle>Coleg</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <div *ngIf="member" class="member-controls">
      <mat-icon
        *ngIf="!management"
        (click)="
          getChat(member.id!); getPartnerInfo(member.id!); select(member)
        "
        >message</mat-icon
      >
      <mat-icon>person</mat-icon>
      <mat-icon
        *ngIf="management && member && isLeader()"
        (click)="kickTeamMember(member)"
        >remove_circle</mat-icon
      >
      <mat-icon
        *ngIf="management && member && isLeader()"
        (click)="assignTask(member)"
        >add</mat-icon
      >
    </div>
  </mat-card-actions>
</mat-card>
