<app-navigation></app-navigation>
<div class="background">
  <div class="content">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxFlexFill>
      <div class="left" fxFlex="20">
        <div class="team-info">
          <img
            class="team-avatar"
            [src]="team.avatar"
          />
          <div class="text"></div>
          <h2>{{ team.name }}</h2>
          <h2>{{ leader.username }}</h2>
          <div class="controls">
            <button
              mat-raised-button
              color="primary"
              (click)="openInvitationDialog()"
            >
              Invita utilizatori in echipa ta
            </button>
            <button mat-raised-button color="primary" (click)="deleteTeam()">
              Sterge echipa
            </button>
            <button mat-raised-button color="primary" (click)="fileInput.click()">Incarca avatar</button>
            <input #fileInput type="file" (change)="uploadAvatar($event)" style="display:none"/>
          </div>
        </div>
      </div>
      <div class="right" fxFlex="80">
        <app-team [management] = "true"></app-team>
      </div>
    </div>
  </div>
</div>
