.content {
  margin-top: 64px;
}
.background {
  height: 94vh;
}
.team-avatar {
  width: 200px;
  height: fit-content;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}
.team-info {
  margin: 0 auto;
  color: white;
  width: 200px;
  text-align: center;
}

.text {
  margin-top: 20px;
}

.members {
  margin-top: 20px;
  max-width: 500px;
}
.left {
  width: 100%;
  min-width: 380px;
  height: 94vh;
  border-right: 1px white solid;
}
.right {
  width: 100%;
  margin: 0 auto;
 
}

.controls {
  display: flex;
  flex-direction: column;
}
button {
  margin-bottom: 5px;
  margin-top: 5px;
}
